[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=view_anymsg

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-Argument=/var/log/boot.msg
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=startprotocol
Exec=/sbin/yast2 view_anymsg /var/log/boot.msg

Name=View start-up log
GenericName=This module displays the boot log (/var/log/boot.msg)
Name[cs]=Zobrazit startovací protokol (log)
GenericName[cs]=Tento modul zobrazí startovací protokol (log) /var/log/boot.msg
Name[de]=Startprotokoll anzeigen
GenericName[de]=Dieses Modul gibt das Bootprotokoll (/var/log/boot.msg) aus.
Name[en]=View Start-up Log
Name[es]=Ver el log de arranque
GenericName[es]=Este módulo visualiza el registro de arranque (/var/log/boot.msg)
Name[hu]=Indítási napló megtekintése
GenericName[hu]=Ez a modul megmutatja a rendszerindítási naplót (/var/log/boot.msg)
Name[it]=Mostra il log di avvio
GenericName[it]=Questo modulo mostra il log di avvio (/var/log/boot.msg)
Name[ko]=스타트업 로그 보기
GenericName[ko]=이 모듈은 부팅로그(/var/log/boot.msg)를 표시
Name[nl]=Bekijk startup log
GenericName[nl]=Deze module laat de boot log (/var/log/boot.msg) zien
Name[pt]=Ver o log de inicialização
GenericName[pt]=Este módulo mostra o log de boot (/var/log/boot.msg) 
Name[sk]=Zobraziť štartovací protokol (log) 
GenericName[sk]=Tento modul zobrazí štartovací protokol (log) /var/log/boot.msg
Name[sv]=Visa startlogg
GenericName[sv]=Den här modulen visar startloggen (/var/log/boot.msg)
Name[da]=Se opstartslog
GenericName[da]=Dette modul viser opstartsloggen (/var/log/boot.msg)
Name[el]=Δείτε το αρχείο καταγραφής της εκκίνησης
GenericName[el]=Αυτό η μονάδα εμφανίζει την αναφορά εκκίνησης (/var/log/boot.msg)
Name[en]=View Start-up Log
Name[fr]=Voir le journal de démarrage
GenericName[fr]=Ce module affiche le journal de démarrage (/var/log/boot.msg)
Name[ja]=再起動の記録を見る。
GenericName[ja]=このモジュールは再起動の記録（/var/log/boot.msg）を表示します。
Name[lt]=Rodyti sistemos paleidimo registracijos bylą
GenericName[lt]=Šis modulis rodo įkrovos registracijos bylą (/var/log/boot.msg)
Name[sl]=Prikaži zagonski dnevnik
GenericName[sl]=Ta modul prikaže zagonski dnevnik (/var/log/boot.msg).
Name[tr]=Açılış kayıtlarını gör
GenericName[tr]=Bu modül açılış kayıtlarını gösterir (/var/log/boot.msg)
