[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=view_anymsg

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-Argument=/var/log/messages
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=systemprotocol
Exec=/sbin/yast2 view_anymsg /var/log/messages

Name=View system log
GenericName=This module displays the systems log (/var/log/messages)
Name[cs]=Zobrazit systémový protokol (log)
GenericName[cs]=Tento modul zobrazí systémový protokol (log) /var/log/messages
Name[de]=Systemprotokoll anzeigen
GenericName[de]=Dieses Modul gibt das Systemprotokoll (/var/log/messages) aus.
Name[en]=View System Log
Name[es]=Ver registro de sistema
GenericName[es]=Este módulo visualiza el registro del sistema (/var/log/messages)
Name[hu]=Rendszernapló megtekintése
GenericName[hu]=Ez a modul megmutatja a rendszernaplót (/var/log/messages)
Name[it]=Mostra il log di sistema
GenericName[it]=Questo modulo mostra il log di sistema (/var/log/messages)
Name[ko]=시스템 로그 보기
GenericName[ko]=이 모듈은 시스템로그(/var/log/messages)를 표시
Name[nl]=Laat systeem log zien
GenericName[nl]=Deze module laat het systeem log zien (/var/log/messages)
Name[pt]=Ver o log de sistema
GenericName[pt]=Este módulo mostra o log do sistema (/var/log/messages)
Name[sk]=Zobraziť systémový protokol (log)
GenericName[sk]=Tento modul zobrazí systémový protokol (log) /var/log/messages
Name[sv]=Visa systemlogg
GenericName[sv]=Den här modulen visar systemloggen (/var/log/messages)
Name[da]=Se system log
GenericName[da]=Dette modul viser systemets log (/var/log/messages)
Name[el]=Προβολή του αρχείου καταγραφής του συστήματος
GenericName[el]=Αυτό η μονάδα εμφανίζει το αρχείο καταγραφής συστήματος (/var/log/messages)
Name[en]=View System Log
Name[fr]=Voir le journal du système
GenericName[fr]=Ce module affiche le journal du système (/var/log/messages)
Name[ja]=システムの記録を見る。
GenericName[ja]=このモジュールは再起動の記録（/var/log/messages）を表示します。
Name[lt]=Rodyti sistemos registracijos bylą
GenericName[lt]=Šis modulis rodo sistemos registracijos bylą (/var/log/messages)
Name[sl]=Prikaži sistemski dnevnik
GenericName[sl]=Ta modul prikaže sistemski dnevnik (/var/log/messages).
Name[tr]=Sistem kayıtlarını gör
GenericName[tr]=Bu modül sistem kayıtlarını gösterir (/var/log/messages)
